<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Baobeide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>911410A41C08621A00AF0D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911410C01C08621A00AF0D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911410CB1C08621A00AF0D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
